DMX_MCP_HOST=127.0.0.1
DMX_MCP_PORT=3334
OLA_BASE_URL=http://127.0.0.1:9090
DMX_PATCH_PATH=
DMX_BACKEND=simulator
DMX_SAFE_MODE=true
DMX_OUTPUT_ARMED=false
DMX_ALLOWED_UNIVERSES=1
DMX_MAX_FPS=30
DMX_HTTP_TOKEN=
